@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.2;
  text-transform: uppercase;
}

*::before,
*::after {
  border-spacing: 0;
}

::-moz-selection {
  background: none;
}

::selection {
  background: none;
}

html,
body,
header,
main,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
div,
span,
p,
a,
input,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

img,
video,
iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button {
  border: none;
  background: none;
}
input:focus,
button:focus {
  outline: none;
}

select,
select:focus,
option {
  border: none;
  background-color: #fff;
}

.mwidth {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

header .head {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head .h-left a {
  display: flex;
  align-items: center;
}
header .head .h-left a img {
  width: 28px;
  margin-right: 4px;
}
header .head .h-left a h1 {
  color: #000;
  font-size: 18px;
  letter-spacing: 2px;
}
header .head .h-right {
  display: flex;
}
header .head .h-right a img {
  width: 24px;
  margin-right: 20px;
}
header .head .h-right .bugermenu img {
  height: 32px;
  cursor: pointer;
}
header .menu {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 100%;
  top: 0;
  z-index: 100;
}
header .menu .menuclose {
  width: 24px;
  height: 24px;
  position: relative;
  transform: translateX(68vw);
  cursor: pointer;
}
header .menu .menuclose span {
  width: 100%;
  border-bottom: 2px solid #000;
  position: absolute;
  left: 0;
  top: 50%;
}
header .menu .menuclose span:nth-of-type(1) {
  transform: rotate(45deg);
}
header .menu .menuclose span:nth-of-type(2) {
  transform: rotate(-45deg);
}
header .menu .menu-contents {
  width: 100%;
  height: 100%;
  padding: 18px 40px 10px;
  background-color: #fff;
  border-radius: 40px;
  transform: translateX(60%);
  transition: 0.5s;
}
header .menu .menu-contents .menu-title {
  margin: 20px 10px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(12, 76, 160);
}
header .menu .menu-contents ul {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
header .menu .menu-contents li {
  width: 100%;
}
header .menu .menu-contents li:hover {
  background-color: rgb(12, 76, 160);
  color: #fff;
}
header .menu .menu-contents a {
  display: inline-block;
  width: 100%;
  margin: 4px 20px;
  font-size: 1.2em;
}
header .menu.active {
  left: 0;
}
header .menu.active .menu-contents {
  transform: translateX(10%);
}

.footer {
  text-align: center;
  margin: 20px 0 32px;
}
.footer span {
  font-size: 0.8em;
  font-weight: 200;
}
.footer span:nth-of-type(1) {
  text-transform: lowercase;
  margin-right: 10px;
}

.swiper {
  width: 100%;
  height: 90vh;
  cursor: pointer;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-content {
  width: 100%;
  height: 100%;
}
.swiper-content:hover .main-title, .swiper-content:hover span {
  text-decoration: underline;
}
.swiper-content .main-title {
  padding: 60px 10px 8px;
  font-weight: 400;
  position: relative;
}
.swiper-content .main-title sup {
  font-size: 12px;
}
.swiper-content .main-title b {
  font-size: 28px;
  font-weight: 400;
}
.swiper-content .main-title span {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-scrollbar-drag {
  background: rgb(250, 250, 250) !important;
}

.gung-title {
  margin: 60px auto 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gung-title h2 {
  font-size: 28px;
}
.gung-title .list-view {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.gung-title .list-view span {
  width: 18px;
  margin-right: 4px;
}
.gung-title .list-view p {
  width: 20px;
  margin-right: 4px;
}
.gung-title .list-view .list-sort {
  font-size: 12px;
}

.block-contents-wrap {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.block-contents-wrap .block-contents-contain {
  margin-bottom: 8px;
  width: 49%;
  height: 48vh;
  position: relative;
  cursor: pointer;
}
.block-contents-wrap .block-contents-contain .block-content-img {
  width: 100%;
  height: 100%;
}
.block-contents-wrap .block-contents-contain .block-content-img span {
  display: none;
}
.block-contents-wrap .block-contents-contain .block-content-img:hover span {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(12, 76, 160, 0.8);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 20px;
  text-align: end;
  color: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.list-contents-wrap {
  max-width: 1100px;
  margin: 0 auto 40px;
  border-bottom: 2px solid #eaeaea;
}
.list-contents-wrap .list-contents-contain {
  width: 100%;
  height: 30vh;
  margin-bottom: 32px;
  display: flex;
  position: relative;
  cursor: pointer;
}
.list-contents-wrap .list-contents-contain p:nth-of-type(1) {
  width: 60%;
}
.list-contents-wrap .list-contents-contain .list-content-text {
  width: 50%;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}
.list-contents-wrap .list-contents-contain .list-content-text span:nth-of-type(1) {
  width: 10%;
  font-size: 12px;
}
.list-contents-wrap .list-contents-contain .list-content-text span:nth-of-type(2) {
  width: 20%;
  font-size: 20px;
}
.list-contents-wrap .list-contents-contain .list-content-text span:nth-of-type(3) {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
}
.list-contents-wrap .list-contents-contain:hover {
  text-decoration: underline;
}

.list-like {
  padding: 4px;
  margin: 8px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
}

.detail-contain .d-context {
  margin: 40px 0 20px;
}
.detail-contain .d-context h4 {
  padding: 20px 0;
  font-size: 28px;
}
.detail-contain .d-context .d-text {
  display: flex;
}
.detail-contain .d-context .d-text p:nth-of-type(1) {
  width: 32%;
  color: #242526;
}
.detail-contain .d-context .d-text p:nth-of-type(2) {
  width: 32%;
  color: #242526;
}
.detail-contain .d-context .d-text p:nth-of-type(3) {
  width: 60%;
  color: #242526;
  text-align: justify;
}

.search > p {
  height: 40vh;
  position: relative;
}
.search > p span {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
}
.search .search-bar {
  width: 600px;
  display: flex;
  position: absolute;
  left: calc(50% - 300px);
  top: 20vh;
}
.search .search-bar span img {
  width: 32px;
}
.search .search-bar input {
  width: 100%;
  height: 100%;
  padding: 4px;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
.search .search-bar input::-moz-placeholder {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}
.search .search-bar input:-ms-input-placeholder {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}
.search .search-bar input::placeholder {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

.result {
  display: flex;
  flex-wrap: wrap;
}
.result .result-content {
  width: 320px;
  margin: 20px 0;
  display: flex;
  cursor: pointer;
}
.result .result-content p:nth-of-type(1) {
  margin-right: 8px;
  color: #242526;
  font-size: 12px;
}
.result .result-content p:nth-of-type(2) {
  font-size: 24px;
}
.result .result-content p:nth-of-type(3) {
  font-size: 24px;
}
.result .result-content:hover p:nth-of-type(2),
.result .result-content:hover p:nth-of-type(3) {
  text-decoration: underline;
}

@media (min-width: 0) and (max-width: 768px) {
  .block-contents-wrap {
    flex-wrap: wrap;
  }
  .block-contents-wrap .block-contents-contain {
    width: 100%;
    height: 48vh;
  }
  .list-contents-wrap .list-contents-contain {
    width: 100%;
    height: 48vh;
    display: block;
  }
  .list-contents-wrap .list-contents-contain p:nth-of-type(1) {
    width: 100%;
    height: 80%;
  }
  .list-contents-wrap .list-contents-contain .list-content-text {
    width: 100%;
    padding: 8px 8px;
    display: block;
  }
  .list-contents-wrap .list-contents-contain .list-content-text span:nth-of-type(1) {
    width: 10%;
    margin-right: 4px;
    font-size: 12px;
  }
  .list-contents-wrap .list-contents-contain .list-content-text span:nth-of-type(2) {
    width: 30%;
    font-size: 20px;
  }
  .list-contents-wrap .list-contents-contain .list-content-text span:nth-of-type(3) {
    width: 80%;
    margin-top: 8px;
    -webkit-line-clamp: 1; /* 라인수 */
  }
  .detail-contain .d-context .d-text {
    display: block;
  }
  .detail-contain .d-context .d-text p {
    margin: 8px 0;
  }
  .detail-contain .d-context .d-text p:nth-of-type(1) {
    width: 100%;
  }
  .detail-contain .d-context .d-text p:nth-of-type(2) {
    width: 100%;
  }
  .detail-contain .d-context .d-text p:nth-of-type(3) {
    width: 100%;
  }
  .search .search-bar {
    width: 80vw;
    left: calc(50% - 40vw);
    top: 20vh;
  }
}/*# sourceMappingURL=App.css.map */